.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Se adapta al padre .main-body */
  min-height: 60vh;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #888;
    font-size: 1.2rem;
  }
}